.top-content {
  display: flex;
  justify-content: center;
}
.logsub-box {
  padding: 100px;
  border: 1px solid black;
  margin: 20px;
  border-radius: 25px;
  background-color: turquoise;
}

.bottom-content {
  display: flex;
  margin: 10px auto;
  padding: 200px;
  width: 27.5%;
  border: 1px solid black;
  border-radius: 25px;
  background-color: turquoise;
}

.llogo {
  width: 30%;
}
.loglogo {
  width: 25%;
}
